.legend img {
    width: 100%;
}

.group-panel {
    margin-bottom: 50px;
}

.custom-panel {
    height: 250px;
}

.system img{
    width: 100%;
    margin: 8px;
}

.front:hover {
    cursor: default;
}

.system img {
    width: 280px;
}

.back {
    display: none;
}

.back img {
    width: 100%;
}

.zoom img {
    width: 100%;
}

.zoom {
    display: inline-block;
}

.tooltip {
    width: 100%
}